<div align="center"><h1>Tasks List</h1>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Category</th>
      <th>Due</th>
      <th>Done?</th>
      <th>Created By</th>
      <th>Completed By</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |t| %>
      <tr>
        <td><%= t.Task %></td>
        <td><%= t.Category %></td>
        <td><%= t.Due %></td>
        <td><%= t.is_completed %></td>
        <td><%= t.createdby %></td>
        <td><%= t.completedby %></td>
        <td><%= link_to 'Show', t%></td>
        <td><%= link_to 'Edit', edit_task_path(t) %></td>
        <% if t.is_completed %>
          <td><%= link_to "UnDone", mark_task_path(t), :method => :put  %></td>
        <% else %>
          <td><%= link_to "Done", mark_task_path(t), :method => :put  %></td>
        <% end %>
        <td><%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %><div align="center"><footer><p>De Leon - Sy 2014</p></footer>
